.App {
  text-align: center;
}

.task {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.task.done {
  text-decoration: line-through;
}

button {
  margin-left: 10px;
}